*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
input:focus {
  outline: none;
}
.active {
  color: #b52758;
}
